<!-- Throwables Page -->
<!-- Calling base.html or the navbar so we dont have to deal with the long code just impliment what is needed on this page -->
{% extends "base.html" %}
{% block title %} Home Page{% endblock %}
{% block content %}
<table>
    <thead>
      <tr>
          <th>Throwables</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in data %}    
              <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
              </tr>
                  
              
          {% endfor %}
      </tbody>
  </table>
{% endblock %}